<launch>
    <include file = "$(find nuturtle_description)/launch/load.launch">
        <arg name = "use_rviz" value = "false"/>
        <arg name = "use_jsp" value = "false"/>
        <arg name = "color" value = "red"/>
    </include>
    <node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find nusim)/config/nusim.rviz"/>

    <rosparam command = "load" file = "$(find nusim)/config/basic_world.yaml"/>
    <node name = "nusim" pkg = "nusim" type = "nusim" output = "screen"/>

</launch>