<launch>
    <!-- Initialize arguments -->
    <arg name = "use_rviz" default = "true" doc = "whether to launch rviz"/>
    <arg name = "robot" default = "nusim" doc = "ways to launch turtlebot,
    possible options are 'nusim', 'localhost', 'turtlebotname', 'none'. "/>
    <arg name = "use_jsp" default = "false" doc = "whether to use joint state publisher"/>
    <arg name = "debug" default = "false" doc = "whether to use debug mode"/>

    <!-- load basic world and diff params config -->
    <rosparam command = "load" file = "$(find nusim)/config/basic_world.yaml"/>
    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />

    <!-- include basic remote launch file -->
    <include file = "$(find nuturtle_control)/launch/basic_remote.launch" if = "$(eval robot != 'nusim')">
        <arg name = "robot" value = "$(arg robot)"/>
    </include>
    
    <!-- static tf from world to odom/map -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 world map 100"/>

    <!-- load blue and red robot descriptions -->
    <include file = "$(find nuturtle_description)/launch/load.launch">
        <arg name = "use_rviz" value = "false"/>
        <arg name = "use_jsp" value = "true"/>
        <arg name = "color" value = "blue"/>
    </include>
    <include file = "$(find nuturtle_description)/launch/load.launch">
        <arg name = "use_rviz" value = "false"/>
        <arg name = "use_jsp" value = "true"/>
        <arg name = "color" value = "green"/>
    </include>
    <include file = "$(find nuturtle_description)/launch/load.launch">
        <arg name = "use_rviz" value = "false"/>
        <arg name = "use_jsp" value = '$(arg use_jsp)'/>
        <arg name = "color" value = "red"/>
    </include>


    <node name = "turtle_interface" pkg = "nuturtle_control" type = "turtle_interface" output = "screen" if = "$(eval robot == 'nusim')">
        <remap from="/joint_states" to="red/joint_states"/>
        <remap from="/wheel_cmd" to="red/wheel_cmd"/>
        <remap from="/sensor_data" to="red/sensor_data"/>
    </node>

    <node name = "slam_da" pkg = "nuslam" type = "slam_da" output = "screen">
        <remap from="/joint_states" to="red/joint_states"/>
    </node>

    <node name = "rviz" pkg = "rviz" type = "rviz" if = "$(arg use_rviz)"
    args= "-d $(find nuslam)/config/slam_da.rviz"/>

    <node name = "turtlebot3_teleop_key" pkg = "turtlebot3_teleop" type = "turtlebot3_teleop_key"/>

    <node name = "nusim" pkg = "nusim" type = "nusim" output = "screen" if = "$(eval robot == 'nusim')" />

    <node name = "landmarks" pkg = "nuslam" type = "landmarks" output = "screen" unless = "$(arg debug)"/>


</launch>

