<launch>
    <arg name = "use_rviz" default = "true" doc = "whether to view the URDF in Rviz"/>
    <arg name = "use_jsp" default = "false" doc = "whether to use joint state publisher"/>
    <param name = "robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro'"/>
    
    <node name="rviz" pkg="rviz" type="rviz" if='$(arg use_rviz)'/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if='$(arg use_rviz)'/>
</launch>